.service_header {
    margin-bottom: 42.5px;
    text-align: center;
}

#h_serv {
    line-height: 67px;
}

#ser_head {
    line-height: 39px;
}

#solar {margin-bottom: 21px; margin-top: 25px;}
#cable {margin-bottom: 18.5px; margin-top: 30.5px;}
#deal {margin-bottom: 8px; margin-top: 23.5px;}
#consultation {margin-bottom: 17px; margin-top: 30.5px;}

#last {
    /* Стоит запомнить данный подход */
    /* Подобие area, но проще */
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.service_block {
    padding-left: 20px;
    border-radius: var(--rounding);
    max-width: 360px;
    background-color: var(--service);
}

.service_span {
    font-family: 'Roboto';
    font-size: 18px; line-height: 25px;
    color: var(--super-grey);
    max-height: 75px;
}

.service_image {
    position: relative;
    top: 37px;
}

.service_content {
    max-width: 1140px; margin: 0 auto;
    display: grid;
    column-gap: 34px; row-gap: 30px;
    grid-template-columns: 360px 1fr 360px;
    grid-template-rows: repeat(2, 252px);
    margin-bottom: 101px;
}