.navbars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 86px 79px;
}

li, li > a {font-family: 'Poppins'; font-weight: 500; font-size: 18px; line-height: 1.5;}

li > a {color: #ffffff; text-transform: uppercase;}
li > a:hover {color: var(--red);}

.nav_ul {column-gap: 47px; display: flex; max-width: 876px;}
.nav_ul > li {white-space: nowrap;}

.header__logo {flex-shrink: 0;}

.nav-burger-button {
    display: none;
    position: relative;
    z-index: 100;
    border: 0; border-radius: var(--rad);
    background-color: var(--white);
    width: 40px; height: 40px;
}

.nav-burger-button span {
    position: absolute;
    top: 18px; left: 33%;
    background-color: var(--black);
    height: 3px;
    width: 15px;
}

.nav-burger-button span:nth-child(1) {transform: translateY(-7px);}
.nav-burger-button span:nth-child(3) {transform: translateY(7px);}

header {
    padding: 30px 0;
    background-color: #000000;
    margin-bottom: 34px;
}

@media screen and (max-width: 1200px) {
    li, li > a {font-size: 16px;}
}

@media screen and (max-width: 1100px) {
    li, li > a {font-size: 14px;}
}

@media screen and (max-width: 980px) {
    .nav-burger-button {
        transform: translateX(40px);
    }
    .nav_ul, .nav_ul_active {
        overflow: hidden; z-index: 99;
        background-color: var(--red);
        position: absolute;
        top: 0; right: -218px;
        display: block;
        padding: 115px 30px 40px 30px;
        transition: transform 1.2s, opacity 1.2s;
    }

    .nav_ul {opacity: 0;}

    .nav_ul_active {transform: translateX(-100%);}

    .nav_ul li, 
    .nav_ul li a,
    .nav_ul_active li,
    .nav_ul_active li a {
        padding: 10px;
    }

    li:hover {
        background-color: var(--white);
    }

    .nav-burger-button {display: block;}
}