.contact {
    background-color: var(--red);
}
/* 150px potom */
.contact_wrapper {
    display: flex;
    padding: 44px 150px 70px 150px;
    column-gap: 67px;
    margin-bottom: 98px;
}

.contact_image {
    position: relative;
    display: flex;
}

.contact_text {
    font-family: 'Poppins';
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 532px;
    color: var(--white); 
    font-size: 18px; 
    line-height: 30px
}

#right {margin-right: 31px;}

.gap {display: flex;}