@use '../forward';

.btn {
    border: 0px solid transparent;
    box-sizing: border-box;
    border-radius: forward.$btn_border;
    font-family: forward.$Poppins; 
    font-weight: forward.$regular;
    font-size: forward.$sm; 
    line-height: 1.6666666666666666666666666666667;
    padding: 10px 30px;
    white-space: nowrap;

    &.btn_passive {
        background-color: forward.$white;
        &:hover {background-color: forward.$grey;}
    }
    
    &.btn_active {
        background-color: forward.$black;
        color: forward.$white;
    }
    &#btn_right {
        padding: 10px 29.89px 10px 32.19px;
        margin-right: 33px;
    }
}




