@use '../forward';

.choose {
    border: 1px solid transparent; box-sizing: border-box;
    padding: 111px 150px 110px 150px;
    background-color: forward.$grey;
    
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 303px);
        column-gap: 30px; row-gap: 31px;
    }

    &_description {
        display: block;
    }

    &_header {
        font-size: forward.$xxl;
        line-height: 1.34;
        padding-top: 40px;
        padding-left: 2px;
        max-width: 334px;
    }

    &_block {
        border: 1px solid transparent; border-radius: forward.$rounding;
        box-sizing: border-box;
        padding-top: 16%;
        padding-inline-start: 8%;
        background-color: forward.$white;

        & .choose_number {
            font-size: 58px; line-height: 0.60344827586206896551724137931034;
        }

        & .choose_block_header {
            line-height: 1.625; 
            margin-bottom: 5px;
        }

        & .choose_description {
            font-family: forward.$Roboto; 
            font-size: forward.$sm; line-height: 1.2777777777777777777777777777778; 
            color: forward.$super-grey; margin: 0; 
            max-width: 300px; font-weight: forward.$regular;
        }
        
        &:last-child {padding: 19% 6% 0 9.4%}
        &:nth-child(2) {
            padding: 16.5% 5% 0 8%;
            & .choose_number {margin-bottom: 26px;}
            & .choose_description{max-width: 295px;}
            & .choose_block_header{margin-bottom: 8px;}
        }
        &:nth-child(3) {
            padding: 16.5% 5% 0 9.5%;
            & .choose_block_header{margin-bottom: 11px;}
        }
        &:nth-child(4) {
            padding: 19% 5% 0 7.5%;
            & .choose_block_header{margin-bottom: 11px;}
        }
        &:nth-child(5) {padding: 19% 5% 0 8%;}
    }

    &_text, &_text p {
        font-Family: forward.$Roboto;
        font-weight: forward.$regular;
        font-size: forward.$sm; line-height: 1.2222222222222222222222222222222;
        color: forward.$raven;
        margin: 0; margin-top: 13px;
        max-width: 290px;
    }

    // @media screen and (max-width: 1255px) {
    //     .choose_header {
    //         font-size: 42px;
    //     }

    //     .choose_text {
    //         font-size: 16px;
    //     }

    //     .choose_block {
    //         & .choose_description {
    //             font-size: 16px;
    //         }
    //     }
    // }

    // @media screen and (max-width: 1120px) {
    //     .choose_header {
    //         font-size: 34px;
    //     }
    //     .choose_block {
    //         // & .
    //     }
    // }
}