@use '../forward';

.contact {
    background-color: forward.$red;

    &_wrapper {
        display: flex;
        padding: 44px 150px 70px 150px;
        column-gap: 67px;
        margin-bottom: 98px;

        @media screen and (max-width: 1190px) {
                padding: 44px 100px 70px 100px;
        }
    }

    &_header {
        color: forward.$white; 
        padding-top: 46px; 
        margin-bottom: 6px;
    }

    &_image {
        position: relative;
        display: flex;
    }

    &_text {
        font-family: forward.$Poppins;
        font-weight: forward.$regular;
        margin-bottom: 32px;
        max-width: 532px;
        color: forward.$white; 
        font-size: forward.$sm; 
        line-height: 1.6666666666666666666666666666667;
    }

    @media screen and (max-width: 1090px) {

        .contact_wrapper {
            flex-wrap: wrap;
            padding: 44px 55px 70px 60px;
            margin-bottom: 60px;
        }

        .contact_header {
            padding-top: 36px;
            font-size: 42px;
        }
        .contact_text {
            font-size: 16px;
        }

        .contact_image {
            flex-grow: 1;
            justify-content: center;
        }

        .btn#btn_right{
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 580px) {
        .contact_wrapper {
            padding: 44px 40px 70px 40px;
        }

        .contact_header {
            padding-top: 10px;
        }
    }

    @include forward.mobileXl {
        .contact_header {font-size: 35px;}
        .contact_text {font-size: 15px;}
        .btn {font-size: 16px;}
        .contact_image {display: none;}
    }
     
    @include forward.mobileL {
        .contact_text {font-size: 14px;}
        .contact_wrapper {padding: 40px;}
    }
    @include forward.mobileS {
        .contact_wrapper {padding: 15px;}
    }
}