@use '../forward';

header {
    padding: 30px 0;
    background-color: forward.$dark;
    margin-bottom: 34px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 86px 79px;

    &_logo {
        flex-shrink: 0;
    }

    &_ul {
        column-gap: 47px; 
        display: flex; 
        max-width: 876px;

        & .nav_item {
            white-space: nowrap;
        }
    }

    &_item, &_link {
        font-family: forward.$Poppins;
        font-weight: forward.$medium;
        font-size: forward.$sm;
        line-height: 1.5;

        @media screen and (max-width: 1200px) {
            font-size: forward.$xs;
        }

        @media screen and (max-width: 1100px) {
            font-size: forward.$xxs;
        }
    }

    &_item {
        .nav_link {
            color: forward.$white; 
            text-transform: uppercase;

            &:hover {color: forward.$red;}
        }
    }

    &_button {
        display: none;
        position: relative;
        z-index: 100;
        border: 0; border-radius: forward.$rad;
        background-color: forward.$white;
        width: 40px; height: 40px;

        & .nav_line {
            position: absolute;
            top: 18px; left: 33%;
            background-color: forward.$black;
            height: 3px; width: 15px;

            &:nth-child(1) {transform: translateY(-7px);}
            &:nth-child(3) {transform: translateY(7px);}
        }
    }

    @include forward.header() {
        
        .nav_ul, .nav_ul_active {
        overflow: hidden; z-index: 99;
        background-color: forward.$red;
        position: absolute;
        top: -401px; right: 0;
        display: block;
        padding: 115px 30px 40px 30px;
        transition: transform 1s, opacity 1.2s;

        & .nav_item, & .nav_link {
            padding: 10px;
        }
    }

        .nav_ul {
            opacity: 0; 
        }
        
        .nav_ul_active {
            transform: translateY(100%);
            
            & .nav_item {
                & .nav_link {
                    &:hover {color: forward.$white;}
                }
                
                &:hover {
                    background-color: forward.$light-grey;
                }
            }
        }
        .nav_button {
            transform: translateX(40px);
            display: block;
            & .nav_line:nth-child(2) {
                transform: translateX(0);
            }
        }
    }
    @media screen and (max-width: 600px) {
        padding-inline: 31px 64px;

        .nav_ul, .nav_ul_active {
            top: -352px;
            padding: 99px 30px 31px 27px;

            & .nav_item, & .nav_link {
                padding: 8px;
            }
        }
    }
    @media screen and (max-width: 500px) {
        .nav_ul, .nav_ul_active {
            top: -304px;
            & .nav_item, & .nav_link {
                padding: 4px;
            }
        }
    }
    @include forward.mobileXl {
        .nav_logo {
            width: 30%;
        }
    }
    @include forward.mobileL {
        .nav_ul, .nav_ul_active {
            top: -258px;
            padding: 97px 26px 23px 17px;
            & .nav_item, & .nav_link {
                padding: 1px;
            }
        }
    }

    @include forward.mobileS {
        .nav_ul, .nav_ul_active {
            top: -231px;
            padding: 76px 17px 17px 16px;
        }
    }
}

@media screen and (max-width: 600px) {
    header{
        padding: 20px 0;
    }
}

@media screen and (max-width: 425px) {
    header {
        margin-bottom: 15px;
    }
}