@use '../forward';

.service {
    &_title {
        margin-bottom: 31.5px;
        text-align: center;
    }
    &_post_header {
        font-size: 50px;
        margin-top: forward.$rounding;
        line-height: 1.3858;
    }

    &_illustration {
        position: relative;
        top: 37px;
    }

    &_content {
        max-width: 1140px; margin: 0 auto;
        display: grid;
        column-gap: 34px; row-gap: 30px;
        grid-template-columns: 360px 1fr 360px;
        grid-template-rows: repeat(2, 252px);
        margin-bottom: 101px;
    }

    &_block {
        padding-inline: 20px;
        border-radius: forward.$rounding;
        max-width: 360px;
        background-color: forward.$service;

        & #solar {margin-bottom: 21px; margin-top: 23px;}
        & #cable {margin-bottom: 17.5px; margin-top: 30.5px;}
        & #deal {margin-bottom: 6px; margin-top: 21.5px;}
        & #consultation {margin-bottom: 16px; margin-top: 29.5px;}

        &:last-child {
            /* Стоит запомнить данный подход */
            /* Подобие area, но проще */
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        & #service_block_header { 
            margin-bottom: 6px;
            line-height: 1.625;
        }

        & .service_description {
            font-family: forward.$Roboto;
            max-width: 294px;
            font-weight: forward.$regular;
            font-size: forward.$sm; line-height: 1.3888888888888888888888888888889;
            color: forward.$super-grey;
        }


    }
    @include forward.solutionLaptops {
        .service_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .service_illustration {
            display: none;
        }
    }
}