@use '../forward';

.solution {
    border-radius: forward.$rounding;
    margin-bottom: 117px;
    padding-inline: 76.4px;

    &_block {
        position: relative;
        margin: 0 auto;
        border-radius: forward.$rounding;

        &_text {
            position: absolute; margin: 0 auto;
            top: 25.3%; left: 5.2%;
            max-width: 580px;
            font-family: forward.$Poppins; 
            font-weight: forward.$bold;
            font-size: forward.$xxxl;
            line-height: 1.08571;
            color: forward.$white;
            text-transform: uppercase;

            & span {
                font-family: forward.$Poppins;
                font-weight: forward.$bold;
                color: forward.$red;
            }
        }
    }

    @include forward.solutionLaptop() {
        .solution_block_text {
            max-width: 378px;
            font-size: 48px;
        }
    }

    @include forward.solutionTablet() {     
        padding-inline: 35px;
        .solution_block_text {
            max-width: 257px;
            font-size: 32px;
        }
    }

    @media screen and (max-width: 555px) {
        .solution_block_text {
            max-width: 178px;
            font-size: 20px;
        }
    }

    @include forward.mobileL {
        padding-inline: 15px;     
        .solution_block_text {
            max-width: 127px;
            font-size: 16px;
        }
    }

}