.solution {
    border-radius: var(--rounding);
    margin-bottom: 117px;
    padding-inline: 76.4px;
}

.solution__wrapper {
    position: relative;
    margin: 0 auto;
    border-radius: var(--rounding);
}

.solution_text {
    position: absolute; margin: 0 auto;
    top: 25%; left: 5%;
    max-width: 580px; max-height: 297px;
    font-family: 'Poppins'; font-weight: 700;
    font-size: 70px; line-height: 1.08571;
    color: #ffffff;
    text-transform: uppercase;
}

.solution_text span {
    font-family: 'Poppins'; 
    font-weight: 700;
    color: var(--red);
}

@media screen and (max-width: 1200px) {
    .solution_text {
        font-size: 60px;
        max-width: 466px;
        max-height: 255px;
    }    
}

@media screen and (max-width: 1050px) {
    .solution_text {
        font-size: 45px;
        max-width: 350px;
        max-height: 193px;
    }  
}

@media screen and (max-width: 850px) {
    .solution_text {
        font-size: 35px;
        max-width: 272px;
        max-height: 150px;
    }  
}

@media screen and (max-width: 640px) {
    .solution_text {
        font-size: 25px;
        max-width: 194px;
        max-height: 107px;
    }
}

@media screen and (max-width: 500px) {
    .solution_text {
        font-size: 17px;
        max-width: 132px;
        max-height: 74px;
    }
}