@use "assets/styles/forward.scss" as f;

.solution {
  padding-bottom: calc(117px / 2);
  & .container {
    position: relative;
    padding-inline: 76px;
  }

  .image__background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 100%;
      object-fit: cover;
      min-width: 305px;
    }
  }

  &__title {
    position: absolute;
    top: 50.5%;
    left: 5%;
    transform: translateY(-50%);
  }

  &__title,
  &__title span {
    max-width: 580px;
    font-family: "Poppins";
    text-align: left;
    text-transform: uppercase;
    font-size: clamp(24px, 5vw, 70px);
    line-height: 108.57%;
    color: f.$white;

    & span {
      color: f.$red;
    }
  }

  @include f.solutionLaptop() {
    & .container {
      padding-inline: 40px;
    }

    &__title,
    &__title span {
      max-width: 400px;
    }
  }
  @include f.solutionTablet() {
    padding-bottom: 30px;
    & .container {
      padding-inline: 20px;
    }
    &__title,
    &__title span {
      max-width: 300px;
    }
  }
  @include f.solutionMobile() {
    &__title,
    &__title span {
      max-width: 200px;
      font-size: clamp(20px, 4vw, 24px);
    }
  }
}
