
/* colors */
$dark: #000000;
$black: #131313;
$white: #ffffff;
$opacity-white: #ffffffb8;
$red: #ee0000;
$grey: #f4f4f4;
$raven: #3E3E3E;
$light-grey: #5c5c5c;
$super-grey: #787878;
$service: #f3f3f3;
$gr: #464646;

$sm: 18px;

/* font-weight */ 
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$rad: 2px;