
/* colors */
$dark: #000000;
$black: #131313;
$white: #ffffff;
$opacity-white: #ffffffb8;
$red: #ee0000;
$grey: #f4f4f4;
$raven: #3E3E3E;
$light-grey: #5c5c5c;
$super-grey: #787878;
$service: #f3f3f3;
$gr: #464646;

// font-family

$Poppins: 'Poppins';
$Roboto: 'Roboto';

// font-size
$xxs: 14px;
$xs: 16px;
$sm: 18px;
$xxl: 50px;
$xxxl: 70px;

/* font-weight */ 
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;


/* borders */
$btn_border: 40px;
$rad: 2px;
$rounding: 10px;