@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-white-100: #ffffffb8;
  --color-red: #ee0000;
  --color-dark: #131313;
  --color-gray-50: #f4f4f4;
  --color-gray-100: #f3f3f3;
  --color-gray-400: #787878;
  --color-gray-500: #5c5c5c;
  --color-gray-600: #464646;
  --color-gray-700: #3e3e3e;

  --radius-5xl: 40px;
}

html {
  scroll-behavior: smooth;
}

/* TODO: подумать насчет размеров */

body {
  background: var(--background);
  color: var(--foreground);
  max-width: 1440px;
  margin-inline: auto;
  font-family: Arial, Helvetica, sans-serif;
}

:where(h1, h2, h3, h4, h5) {
  font-weight: 700;
}

img {
  user-select: none;
}

h1 {
  font-size: clamp(32px, 5vw, 70px);
  line-height: 1.085;
}

h2 {
  font-size: clamp(28px, 6vw, 50px);
}
