@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-red: #ee0000;
}

html {
  scroll-behavior: smooth;
}

/* TODO: подумать насчет размеров */

body {
  background: var(--background);
  color: var(--foreground);
  max-width: 1440px;
  margin-inline: auto;
  font-family: Arial, Helvetica, sans-serif;
}

:where(h1, h2, h3, h4, h5) {
  font-weight: 700;
}

h1 {
  font-size: clamp(32px, 5vw, 70px);
  line-height: 1.085;
}

h2 {
  font-size: clamp(26px, 4vw, 50px);
}
