@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-red: #ee0000;
  --color-dark: #131313;
  --color-gray-50: #f4f4f4;
  --color-gray-100: #f3f3f3;
  --color-gray-400: #787878;
  --color-gray-500: #5c5c5c;
  --color-gray-600: #464646;
  --color-gray-700: #3e3e3e;

  --radius-5xl: 40px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:where(h1, h2, h3, h4) {
  font-weight: 700;
}

img {
  user-select: none;
}

h1 {
  font-size: clamp(32px, 5vw, 70px);
  line-height: 1.085;
}

h2 {
  font-size: clamp(28px, 6vw, 50px);
}

:where(#services, #home, #about, #initiatives, #community, #aesthetics) {
  scroll-margin-top: 123px;
}

@media screen and (max-width: 768px) {
  :where(#services, #home, #about, #initiatives, #community, #aesthetics) {
    scroll-margin-top: 99px;
  }
}

@media screen and (max-width: 640px) {
  :where(#services, #home, #about, #initiatives, #community, #aesthetics) {
    scroll-margin-top: 82.5px;
  }
}
