@use "assets/styles/forward.scss" as f;

.experience {
  padding: {
    top: calc(117px / 2);
    bottom: 112px;
  }

  & .container {
    padding-inline: 150px 147px;
  }

  &__header {
    margin-bottom: 25px;
    font-size: clamp(27px, 5vw, 50px);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 30px;
  }

  &__card {
    width: 262px;
    height: 432px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 16px;
    color: f.$white;

    & h4 {
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 18px;
    }
    & p {
      font: {
        family: "Roboto";
        weight: 400;
        size: 16px;
      }
      line-height: 137.5%;
      text-align: start;
    }
  }

  @include f.experienceLaptop() {
    & .container {
      padding-inline: 100px;
    }
    &__header {
      line-height: 120%;
    }
  }

  @include f.experienceTablet() {
    padding-top: 30px;
    padding-bottom: 60px;
    & .container {
      padding-inline: 50px 30px;
    }
    &__list {
      gap: 15px;
    }
  }

  @include f.experienceMob() {
    & .container {
        padding-inline: 40px;
    }
    &__list {
        justify-content: center;
    }

    &__card {
        height: 300px;
    }
  }
}
