.button_active, 
.button_passive {
    border: 0px solid transparent;
    box-sizing: border-box;
    border-radius: var(--button-border);
    font-family: "Poppins"; font-weight: 400;
    font-size: 18px; line-height: 30px;
    padding: 10px 30px;
    white-space: nowrap;
}

.button_passive:hover {background-color: var(--grey);}

.button_active {
    background-color: var(--black);
    color: var(--white);
}

.button_passive {background-color: var(--white);}
