@use 'assets/styles/forward' as f;

.btn, .btn.btn-toogle {
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 166%;
    text-align: center;
    padding: 10px 29px;
}

.btn {
    background-color: f.$white;

    &:where(:hover, :active, :focus-visible) {
        background-color: f.$grey;
    }

    &.btn-toogle {
        background-color: f.$black;
        color: f.$white;

        &:where(:hover, :active, :focus-visible) {
            background-color: f.$dark;
        }
    }
}



